@import (reference) '../../../../../styles/variables.less';

:host{
  position: relative;
  display: block;
  height: 100%;
}

.amt-arrow{
  width: 100%;
  display: block;
  &-wrap{
    top: 0;
    bottom: 0;
    display: block;
    position: absolute;
    z-index: 1;
    left: calc(var(--grid-gutter) * -1);
    right: calc(var(--grid-gutter) * -1);
  }

  path{
    stroke: var(--accent-color--hover-alt, black);
  }

  &--highlighted path{
    opacity: .3;
  }

  .g-relationship--highlighted path{
    opacity: 1;
    stroke: #00B000;
  }
}

