@import (reference) '../../../../../styles/variables.less';

.amt-property-list-item {
  margin-top: -1px;
  border: 2px solid #d9e0e4;
  background: #fff;
  height: unit( 42/@rem , rem);
  position: relative;
  font-weight: 600;
  line-height: unit( 26 / @rem, rem);
  padding: unit(8 / @rem, rem) unit(16 / @rem, rem);

  &:hover{
    background: #f2f5f6;
    z-index: 2;
  }

  &._active{
    z-index: 3;
    border: ;
  }
}
